<h1>Login</h1><br>
<input autofocus="autofocus" placeholder="Email Address" type="email" value="" name="user[email]" id="user_email" />
<input autocomplete="off" placeholder="Password" type="password" name="user[password]" id="user_password" />
<input type="submit" name="commit" value="Log in" class="login loginmodal-submit" />
